.App {
  text-align: center;
  background-color: #fcfffe;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 90px;
}

.App-header {
  background-color: #ffbb91;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}
