.App {
  background-color: #white;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 55px;
  margin: 20px 31px 1px 220px;
  display: inline;
  transition: height 0.4s ease-in-out;
}

.App-logo:hover {
  height: 70%;
}

.App-header {
  height: 90px;
  border-bottom: 2px solid #9116fc;
}

.App .page-name {
  display: inline;
  color: black;
  position: absolute;
  padding: 2px 2px 2px 2px;
  margin-top: 25px;
  font-size: 36px;
  font-family: 'Poiret One', cursive;
}

.App .profile-menu {
  float: right;
  display: inline;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0 auto;
}

.App .login {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #5daa97;
}

.App .login:hover {
  color: #437c6e;
}

.App .signup {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #ff802b;
}

.App .signup:hover {
  color: #c94d14;
}

.App .searchbar {
  display: inline;
  float: right;
  margin-top: 50px;
  margin-right: -110px;
  width: 170px;
  transition: width 0.4s ease-in-out;
  font-size: 16px;
}

.App .searchbar:focus {
  width: 34%;
  outline: 1px solid rgba(255, 25, 94, .5);
  font-size: 16px;
}

.App .Introduction {
  display: inline;
}

.App .Quiz-Head {
  font-size: 42px;
  color: #59605f;
  text-align: center;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

.App .spaceyspace {
  height: 60px;
}

.App .introquiz-exit {
  animation: comp-exit 200ms ease-in-out;
  transform: translate3d(0px, 50px, 0px);
}

.App .questions-entering {
  animation: 400ms ease-in;
  transform: translate3d(0px, 20px, 0px);
}

@keyframes App-logo-spin {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}


@media (max-width:800px) {
  .App-logo {
    margin-left: 20px;
    margin-right: 30px;
  }
  .App-header {
    height: 100px;
  }
  .App .page-name {
    font-size: 36px;
    margin-top: 10px;
  }
  .App .login {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
  }
  .App .signup {
    font-size: 16px;
    display: block;
    text-align: right;
  }
  .App .searchbar {
    margin-right: -60px;
    margin-top: 70px;
    font-size: 16px;
    transition: width 0.4s ease-in-out;
    width: 80px;
  }
  .App .searchbar:focus {
    width: 35%;
  }
}
