.counter-info {
  border: 1px solid black;
  background-color: white;
  color: #59605f;
  height: 70px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 455px;
}

.counter-info p {
  margin-top: 25px;
}


