
.question h3 {
  font-size: 26px;
}
 
.question img {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.question {
  border: 1px black solid;
  padding: 10px 10px;
  margin: 30px 30px;
}

.possible-choices {
  margin: 5px 40px 20px 250px;
  text-align: center;
}

.does-this-work {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(229, 229, 229);
  padding: 10px;
  display: block;
  width: 850px;
  text-align: left;
}
