.result-box {
  border: 1px #6ec8b2 solid;
  padding: 10px 10px;
  margin: 30px 250px;
  background-color: white;
  border-radius: 50px;
}

.result-box h1 {
  font-size: 24px;
  margin-bottom: -20px;
}

.result-box h2 {
  font-size: 36px;
}

.result-box img {
  width: 75%;
  border-radius: 20px;
}

.result-box p {
  padding: 20px 30px;
}

.result-box .share-this a {
  display: block;
}

.result-box .share-this .fbpic {
  display: inline-block;
  width: 20%;
}
